@mixin font-face($family, $family2, $style, $weight, $name1, $name2, $format, $hash) {
    @font-face {
        font-family: $family;
        font-style: $style;
        font-weight: $weight;
        src: local($name1), local($name2), url("http://themes.googleusercontent.com/static/fonts/#{$family2}/v6/#{$hash}.#{$format}") format($format);
    }
}

// http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700

@include font-face("Open Sans", "opensans", normal, 400,
                   "Open Sans", "OpenSans", "woff",
                   "cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw");

@include font-face("Open Sans", "opensans", normal, 700,
                   "Open Sans Bold", "OpenSans-Bold", "woff",
                   "k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM");

@include font-face("Open Sans", "opensans", italic, 400,
                   "Open Sans Italic", "OpenSans-Italic", "woff",
                   "xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk");
