html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #eee8e6;
    color: #252525;
    font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
